*{
    box-sizing: border-box;
}

body{
    
    margin: 0 auto;
    height: 96vh;
    max-width: 100vw;
}
.page{
    position: fixed;
    width: inherit;
}
.my-app {
    height: 100%;
}

.main-container{
    height: 100%;
    width: 100%;
}

.app-footer {
    height: 10%;
}

.app-header {
    height: 10%;
    position: relative;
}

.app-header {
    height: 10%;
}

.soon-img {
    height: 80%;
    width: 80%;
    text-align: center;
}

.wallpaper {
    height: 83%;
    width: 100%;
}