@font-face {
    font-family: Mansalva;
    src: url('/fonts/Mansalva/Mansalva-Regular.ttf');
}

@font-face {
    font-family: Indie Flower;
    src: url('/fonts/Indie Flower/IndieFlower-Regular.ttf');
}