.app-header {
    font-family: Indie Flower, sans-serif;
    background-color: rgb(204, 15, 211);
    padding: 2px;
    border: blueviolet 1px solid;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.toggle-menu {
    width: 30%;
    text-align: right;
}

.toggle-menu img {
    height: 50px;
    width: 50px;
    background: none;
    margin: 1px;
} 

.toggle-menu img:hover {
    cursor: pointer;
}


/* .toggle-menu button {
    background: none;
    border: none;
} */


.header-logo {
    width: 40%;
    text-align: left;
    margin-left: 3%;
}

.nav-header {
    width: 30%;
    align-items: center;
    font-size: 1.5rem;
    position: absolute;
    right: 100px;
    top: 0;
    border: blueviolet 1px solid;
    background:white;
    padding: 10px;
}

img.nav-header{
    background-color: orange;
}
