.app-footer {
    font-family: Indie Flower, sans-serif;
    font-size: 1.3rem;
    background-color: #1D7874;
    color: orange;
    font-weight: 700;
    padding: 2px;
    border: blueviolet 1px solid;
    text-align: center;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0;
}
