.app-footer {
    font-family: Indie Flower, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: orange;
    padding: 2px;
    border: blueviolet 1px solid;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    bottom: 0;
}