.app-header {
    font-family: Indie Flower, sans-serif;
    background-color: lightgoldenrodyellow;
    padding: 2px;
    /* margin: 5px; */
    border: blueviolet 1px solid;
    text-align: center;
}

.header-logo {
    width: 40%;
}

.nav-header {
    width: 60%;
    align-items: center;
    font-size: 1.5rem;
}