.app-header {
    font-family: Indie Flower, sans-serif;
    background-color: #1D7874;
    color: orange;
    padding: 2px;
    border: blueviolet 1px solid;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
/* .toggle-menu {
    width: 30%;
    text-align: right;
    background: none;
    border: none;
    outline: none;
} */
.toggle-menu-btn{
    background: none;
     border: none;
     display: none;
}
.toggle-menu img {
    height: 50px;
    width: 50px;
    background: none;
    margin: 1px;
    box-shadow: 0;
    outline: 0;
    border: none;
} 

.toggle-menu img:hover {
    cursor: pointer;
}


.toggle-menu button {
    background: none;
    border: none;
    outline: none;
}

.nav-header {
    font-size: 1.5rem;
}
.nav-header>a{
    padding: 20px;
    color: orange;
}

img.nav-header{
    background-color: orange;
}
