/* ----- EMAIL MENU ----- */
.email-menu{
    width: 200px;
    border-right: gray 1px solid;
    /* background: rgb(143, 243, 235); */
}

.email-menu nav{
    align-items: flex-start;
    justify-content: left;
    min-width: 20%;
}

.email-menu-link{
    width: 100%;
    height: 50px;
    margin: 20px;
    color: rgb(82, 3, 102);
    font-size: 1.3rem;
   padding-right: 5%;
   padding-left: 5%;
}

.email-menu-link:hover{
    /* background: rgb(0, 60, 255); */
    color: orange;
    border-radius: 10px;
    width: 80%;
    text-decoration: none;
}

.soon-img {
    height: 90vh;
    width: 90wh;
    align-items: center;
}


/* ----- EMAIL NEW ----- */

.compose {
    border-radius: 10px;
    background:#1D7874;;
    color: orange;
    padding: 5%;
    width: 80%;
    height: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 27px;
}

.new-email {
    border:gray 1px solid;
    height: 100%;
    padding: 1.3%;

}

.sub-header{
    font-family: Indie Flower, sans-serif;
    padding: 1%;
    margin-block-start: 0;
    height: 50px;
    width: 84%;
    margin: 15px;
    border-radius: 10px;
    background:rgb(7, 177, 168);;
    color: yellow;
    border: rgb(51, 51, 241);
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}


.send-to {
    width: 100%;
    margin: 10px;
    border: none;
    border-bottom: gray 1px solid;
}

.new-email h2 {
    padding: 5px;
    right: 0;
    margin: 5px;
    font-size: 1rem;
}

.new-email textarea {
    height: 20%;
    margin: 2%;
    width: 95%;
}

.new-email button {
    width: 10%;
    margin: 0 2% 0 2%;
    border-radius: 10px;
    background:rgb(7, 177, 168);;
    color: yellow;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5%;
    border: none;
}



.new-email button:hover {
    cursor: pointer;
}

/* ----- EMAIL LIST ----- */
.email-router-container{
    width: 80%;
}


/* ----- EMAIL FILTER ----- */

.email-filter {
    width: 30%;
    text-align: left;
}

.email-filter input{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    background: rgb(188, 189, 185);
    color: black;
    font-size: 1.2rem;
    border: none;
}

.email-filter select{
    width: 25%;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    background: rgb(188, 189, 185);
    color: black;
    font-size: 1rem;
    /* border: white 1px solid; */
}


/* ----- EMAIL PREVIEW ----- */

.starred {
    color: red;
}

.isRead {
    color: green;
}

/* ----- EMAIL SINGLE ----- */

.displayed-subject {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
    border-bottom: orange 1px solid;
}

.received-name {
    font-size: 1.7rem;
    margin-bottom: 30px;
    margin-left: 100px;
}

.received-addr {
    font-size: 1.7rem;
    margin-bottom: 30px;
    margin-left: 100px;
    
}

.displayed-body {
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-left: 100px;
    font-family: 'Dancing Script', cursive;
}

.displayed-sentAt {
    float: left;
    font-size: 1rem;
    margin-bottom: 50px;
    margin-left: 100px;
}

.displayed-email span{
    font-size: 1.3rem;
    padding-right: 20px;
}

.displayed-email button {
    width: 10%;
    margin-left: 100px;
    border-radius: 10px;
    background:rgb(7, 177, 168);;
    color: yellow;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5%;
    border: none;
}

.displayed-email button {
cursor: pointer;
}


.displayed-email {
   margin: 20px;
}

/* ----- END -- EMAIL SINGLE ----- */


.prev-list {
    font-family: 'McLaren', cursive;
    border-bottom: rgb(231, 228, 228) 2px solid;
    height: 50px;
    align-items: center;
    font-size: 1rem;
}

.prev-list:hover {
    cursor: pointer;
}

.prev-name {
    margin-left: 5%;
    width: 20%;
}
.prev-subj {
    width: 65%;
}
.prev-subj span{
    color: gray ;
}
.prev-sent {
    margin-right: 2%;
    width: 15%;
}


.email-list {
    width: 100%;
}

.selectedEmail {
    font-weight: 50;
}


.prev-name {
    margin-left: 3%;
    margin-top: 20px;
    size: 80px;
    min-width: 200px;
}
          
.prev-name span {
    margin-right: 20px;
}