
.note-bgc-change {
    background: rgb(151, 147, 147);
    border: crimson 1px solid;
    padding: 5px 5px 0 5px;
    border-radius: 20px;
    text-align: center;
}

.note-bgc-change div{
        height: 15px;
        width: 15px;
        background-color: rgb(43, 255, 106);
        border-radius: 50%;
        display: inline-block;
}
 
.note-bgc-change div.selected{
    border: black 1px solid;
}
