/* ----- NOTES MENU ----- */

.notes-app-container {
    border: black solid 2px;
    width: 100%;
}
    
/* notes-menu */
.add-note {
    border: black solid 2px;
    padding: 10px;
    width: 100%;
    height: 10%;
}


/* notes-body */
.note-list-container {
    border: black solid 2px;
    width: 100%;
    height: 90%;
}

.note-list-container-section {
    width: 30%;
}


.note-color-btn img {
    margin-right: 2px;
    height: 30px;
    width: 30px;
    float: left;
}

.note-delete-btn img{
    margin-right: 2px;
    height: 30px;
    width: 30px;
    bottom: 0;
    float: left;
}

.note-pinned-btn img{
    margin-right: 2px;
    height: 30px;
    width: 30px;
    bottom: 0;
    float: left;
}


.imgBtn {
    height: 20px;
    width: 20px;

}


.single-note {
    padding: 10px;
}




