.user-msg {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    justify-content: space-between;
}

.user-msg button {
    float: right;
    background-color: blanchedalmond;
    border-radius: 1000px;
    
}

.user-msg.success {
    background-color: lightgreen;
}
.user-msg.error {
    background-color: lightcoral;
}